@import './../../../styles/settings.module.scss';

.form {
  width: 90%;
  margin: auto;
  border: 1px solid $color-four;
  padding: 20px;
  margin-top: 40px;
  position: relative;

  h2 {
    position: absolute;
    font-size: 16px;
    font-weight: 100;
    color: $color-five;
    top: -15px;
    background-color: $color-one;
    padding: 0 10px;
  }

  .input {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
    input {
      border: 1px solid $color-five;

      &:focus {
        background-color: $color-four;
        outline: none;
      }
    }
    
    label {
      font-size: 16px;
      font-weight: 100;
      color: $color-five;
      width: 150px;
    }

    p {
      font-size: 16px;
      font-weight: 100;
      margin-left: 30px;
      color: $color-eight;
    }
  }

  .action {
    text-align: center;
  }
}

.error {
  border: 1px solid $color-eight;
  background-color: $color-nine;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}