//colour

$color-one: #ffffff;
$color-two: #006dc3;
$color-three: #3f3f3f;
$color-four: #e8e8e8;
$color-five: #8c8c8c;
$color-six: #00879c;
$color-seven: #404040;
$color-eight: #ff2626;
$color-nine: #fb7a7a;

//font

$font-title: 'Kanit';

//button operation color variant

$button-color-one: $color-six;
$button-color-one-dark: rgba(2, 103, 119, 1);
$button-color-two: $color-seven;
$button-color-two-dark: rgba(66, 96, 101, 1);