@import './../../../styles/settings.module.scss';

.link {
  button {
    width: 110px;
    height: 30px;
    background-color: $color-five;
    border: 1px solid $color-five;
    color: $color-one;
    cursor: pointer;
    transition: background-color 200ms ,border 200ms;

    &:hover {
      background-color: $color-six;
      border: 1px solid $color-six;
    }
  }
}