@import '../../../styles/settings.module.scss';

.container {

  .button {
    margin-right: 10px;
    height: 60px;
    width: 150px;
    border-width: 2px;
    border-style: solid;
    outline-width: 2px;
    outline-style: solid;
    outline-color: $color-four;
    color: $color-one;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: center;
    padding: 7px 0 7px 10px;
    position: relative;

    span {
      height: 50%;
      display: flex;
      align-items: center;
    }
    
    .icon {
      font-size: 16px;
    }

    .text {
      font-size: 14px;
    }

    .more {
      position: absolute;
      right: 12px;
      top: 12px;
      font-size: 26px;
    }

    .submenu {
      position: absolute;
      display: flex;
      flex-direction: column;
      text-align: center;
      top: 58px;
      width: 146px;
      left: 0;
      visibility: hidden;

      a {
        color: $color-one;
        padding: 5px 0;
        &::first-letter {
          text-transform: uppercase;
        }
      }  
    }
  } 
} 

.containerFirst {
  .button {
    background-color: $button-color-one;

    .submenu {
      background-color: $button-color-one;
      color: $color-one;
    }
    
    &:hover {    
      outline-width: 2px;
      outline-style: solid;
      outline-color: $color-six;
      
      .submenu{
        visibility: visible;
        
        a:hover {
          background-color: $button-color-one-dark;
        }
      } 
    }
  }
}

.containerSecond {
  .button {
    background-color: $button-color-two;

    .submenu {
      background-color: $button-color-two;
      color: $color-one;
    }
    
    &:hover {    
      outline-width: 2px;
      outline-style: solid;
      outline-color: $button-color-two;
      
      .submenu{
        visibility: visible;
        
        a:hover {
          background-color: $button-color-two-dark;
        }
      } 
    }
  }
}


